.header {
    background-image: url("https://i.ibb.co/PQLdvyj/header.jpg");
    background-repeat: no-repeat;
    background-position: 70% 0%;
    max-width: 100%;
    height: 500px;
    line-height: 1.4;
    padding: 50px 0 0 0px;
}

.header__container {
    width: 50%;
    text-align: left;
    background-color: #e6e6e6;
    border-radius: 50px;
    padding: 20px;
}

.header__paragraph {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #757575
}

.header__heading {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #f35860;
}

.header__buttonContainer {
    width: 50%;
    text-align: center;
    margin-top: 20px;
}

.header__button {
    background-color: #f35860;
    border-radius: 20px;
    border: 0px solid #eee;
    color: #eee;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

.header__button:hover {
    background-color: #88393d;
}

.header__iconsContainer {
    width: fit-content;
    margin: auto;
    text-align: center;
    background-color: #e6e6e6;
    border-radius: 30px;
    padding: 10px;
}

.header__icons {
    padding: 10px;
    width: 50%;
    text-align: center;
}

.header__hideIcons {
    display: none;
}

.header__iconLink {
    padding: 5px;
    margin: auto;
}